
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left {
    flex: 1; 
    text-align: left;
  }

  .right {
    width: 300px; 
    margin-left: 20px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

h1, h2, h3 {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    text-align: center;
}

body {
    font-family: 'Cinzel', serif;
    text-align: left;
    text-shadow: 1px 1px 2px black;
    background-image: url("lava1dark.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: black;
    color: orange;
    margin-top: 5%;
}

label {
  display: block;
  margin-top: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff6600;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ffaa33;
}

#output {
  margin-top: 40px;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 8px;
}


@keyframes forge-glow {
  0%, 100% {
    filter: drop-shadow(0 0 1px #ff6f00) drop-shadow(0 0 2px #ff9000);
  }
  50% {
    filter: drop-shadow(0 0 6px #ffaa00) drop-shadow(0 0 10px #ff6f00);
  }
}

#forge-text {
  animation: forge-glow 3s infinite ease-in-out;
}

#forge-footer {
  display: flex;
  justify-content: center;

  margin-top: 40px;
}

footer {
  margin-top: 30px;
}